@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar-custom::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.no-scrollbar-custom {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgb(212, 230, 245);
}
